* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-rendering: optimizeLegibility;
    color: #202020;
  }
  body {
    padding: 0;
    margin: 0;
    background-color: rgb(204, 207, 205);
  }
  p {
    padding: 0;
    margin: 0;
  }

  .cover p{
    color: #fff;
  }

  :focus-visible {
    outline: none;
  }

  .hero {
    background: #69cc86;
    background: linear-gradient(153deg,#1c6832 0%, #69cc86 100%);
    opacity: 0.92;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius:6px;
    margin-bottom: 1.5rem;
  }

  .container {
    padding: 0;
  }

  .header {
    text-align: center;
  }

  .light {
    color: #fff;
  }

  .center {
    text-align: center;
  }

  @media (min-width: 700px) {
    .container {
      padding: 0;
    }
  }

  @media (min-width: 1000px) {
    .container {
      padding: 0;
    }
  }

  .title {
    font-weight: bold;
    font-size: 3.5rem;
    padding: 0;
  }

  .subtitle {
    font-size: 1.5rem;
    padding: 0 0 1rem 0;
  }

  button {
    border: 0;
    background: #94ffb4;
    padding: 0.5rem 3rem;
    border-radius: 3px;
    margin: 0.5rem 0;
    font-size: 1rem;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.6;
  }

  .field {
    margin: 0.5rem 0;
    display: flex;
    background-color: #f8f8f8;
    padding: 0;
    font-size: 1.3rem;
    overflow: hidden;
  }

  .label {
    margin-right: 0.5rem;
  }
  input {
    flex-grow: 1;
    border: 0;
    border-bottom: 2px solid #94ffb4;
    background: transparent;
    font-size: 1.3rem;
  }

  #balance {
    color: #f5cd6f;
  }

  .tabs-container {
    width: 100%;
    display: flex;
    align-content: center;
    margin-bottom: 1rem;  
  }

  .tab {
    border: 0;
    width: 49%;
    margin: 0 auto;
    background: linear-gradient(153deg,#1c6832 0%, #69cc86 100%);
    border-radius: 3px;
    font-size: 1.3rem;
  }

  .hidden {
    display: none !important;
  }

  .lottery-container {
    display: flex;
    flex-direction: column;
    background-color: #dbffe6;
    padding: 1rem;
    border-radius: 8px;
    overflow: scroll;
    border-left: 5px solid #69cc86;
    margin-bottom: 1.5rem;
  }

  .lottery-header {
    display: flex;
    flex-direction: column;
  }

  .lottery-body {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
  }

  .lottery-footer {
    display: flex;
  }

  .buy-lottery-btn {
    background: linear-gradient(153deg,#5cac73 0%, #69cc86 100%);
    width: 60%;
    margin: 0 auto;
    border-radius: 3px;
  }

  .buy-lottery-btn:hover {
    opacity: 0.8;
  }

  .round-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .rounds-nav {
    align-items: flex-end;
    font-size: 2rem;
    width: 5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .rounds-nav span {
    cursor: pointer;
    font-size:xx-large;
  }

  .rounds-nav a{
    text-decoration: none;
    color: #1c6832;
  }

  .rounds-nav a:hover{
    opacity: 0.8;
  }

  .round-num {
    display: inline-block;
    background-color: #1c6832;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.2rem;
    padding: 0.4rem 0.7rem;
    border-radius: 10px;
  }